{% extends "base.html" %}

{% block body %}

<h2>{{ monthname }} {{ year }}</h2>

<script>
    DATA = {};
</script>

<table>
    <tr class="head">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    {% for day in days %}
        {% if forloop.counter0|divisibleby:7 %}
    </tr>
    <tr class="dates">
        {% endif %}
        {% if day %}
        <td class="c-{{ day.date }}">
            <span class="date">{{ day.date }}</span>
            <script>
                DATA[{{ day.date }}] = [
                {% for chunk in day.chunks %}
                    {
                        id: {{ chunk.id }},
                        startTime: new Date("{{ chunk.start_time|date:'Y/m/d H:m' }}"),
                        endTime: new Date("{{ chunk.end_time|date:'Y/m/d H:m' }}"),
                        user: "{{ chunk.user.first_name }}",
                        text: "{{ chunk.text }}"
                    }
                {% endfor %}
                ];
            </script>
        </td>
        {% else %}
        <td class="blank">
        </td>
        {% endif %}
    {% endfor %}
    </tr>

</table>

<nav><a href="{% url 'week' prev.0 prev.1 %}">&lt;prev</a> | <a href="{% url 'week' next.0 next.1 %}">next&gt;</a></nav>

{% endblock %}