{% extends "base.html" %}

{% block body %}

<h2>{{ monthname }} {{ year }}</h2>

<table>
    <tr class="head">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    {% for cell in cells %}
        {% if forloop.counter0|divisibleby:7 %}
    </tr>
    <tr class="dates">
        {% endif %}
        <td class="{{ cell.cls }}">
            {% if cell.date %}
            <span class="date">{{ cell.date }}</span>
            {% endif %}
        </td>
    {% endfor %}
    </tr>

</table>

<nav><a href="{% url 'week' prev.0 prev.1 %}">&lt;prev</a> | <a href="{% url 'week' next.0 next.1 %}">next&gt;</a></nav>

{% endblock %}