{% extends "base.html" %}
{% load static %}
{% block body %}

<h2>{{ monthname }} {{ year }}</h2>

<script src="{% static 'cal/framework.js' %}"></script>

<table>
    <tr class="head">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    {% for day in days %}
        {% if forloop.counter0|divisibleby:7 %}
    </tr>
    <tr class="dates">
        {% endif %}
        {% if day %}
        <td id="c-{{ day.date }}">
            <span class="date">{{ day.date }}</span>
            <script>
                DATA[Number({{ day.date }})] = [
                {% for chunk in day.chunks %}
                    {
                        id: {{ chunk.id }},
                        startTime: new Date("{{ chunk.start_time|date:'Y/m/d H:m' }}"),
                        endTime: new Date("{{ chunk.end_time|date:'Y/m/d H:m' }}"),
                        user: "{{ chunk.user.first_name }}",
                        text: "{{ chunk.text }}",
                        created: new Date("{{ chunk.created|date:'Y/m/d H:m' }}"),
                        lastChanged: new Date("{{ chunk.last_changed|date:'Y/m/d H:m' }}"),
                        availability: "{{ chunk.availability }}"
                    }
                {% endfor %}
                ];
                CONTROLLERS[Number({{ day.date }})] = new DayController(Number({{ day.date }}));
            </script>
        </td>
        {% else %}
        <td class="blank">
        </td>
        {% endif %}
    {% endfor %}
    </tr>

</table>

<nav><a href="{% url 'month' prev.0 prev.1 %}">&lt;prev</a> | <a href="{% url 'month' next.0 next.1 %}">next&gt;</a></nav>

<script>
    for (var index in CONTROLLERS) {
        CONTROLLERS[index].render();
    }
</script>


{% endblock %}